body,
* {
  padding: 0;
  margin: 0;
  font-family: "Palatino Linotype", sans-serif;
  font-size: 24px;
  font-weight: normal;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: "Arial Black", serif;
  margin: 20px 0;
}

p,
li {
  /* padding-top: 10px;
  padding-bottom: 10px; */
  margin-top: 10px;
  margin-bottom: 10px;
  text-indent: 25px;
}

li {
  list-style-position: inside;
}

.first {
  /* height: 40vh; */
  text-align: center;
  padding: 10px 0;
  /* overflow: hidden; */
}

.first .date1,
.end .date2 {
  font-family: "Arial Black", serif;
  text-align: left;
  font-size: .8rem;
}

.first h1,
.fio,
.pred1,
footer h2 {
  font-size: 1.2rem;
  color: #459949;
}

.second {
  /* height: 60vh; */
  text-align: center;
  font-family: "Arial Black", serif;
  font-size: 2rem;
  padding: 5px 0;
  overflow: hidden;
}

.programma .ask {
  font-size: 2.2rem;
  text-align: center;
  color: #459949;
  text-shadow: 0 2px 2px rgba(0, 0, 30, 0.6);
}

#exampleModalCenterTitle {
  font-size: 1.1rem;
}

.boximg img {
  width: 100%;
  border-radius: 3%;
  box-shadow: 3px 4px 20px 7px #808080;
}

.golosocvanie h2 {
  color: #cf0b0b;
  text-shadow: 0 2px 2px rgba(0, 0, 30, 0.6);
  text-align: center;
}

.sectionEnd {
  background-color: rgb(151, 68, 68);
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}

footer {
  text-align: center;
}

.footerEnd p {
  font-size: .7em;
  font-weight: bold;
}

.footerEnd i {
  font-size: 1em;
}

@media screen and (max-width: 550px) {

  body,
  * {
    font-size: 12px;
  }

  .first h1 {
    font-size: 1rem;

  }

  .second {

    font-size: 1.2rem;
    padding: 5px 0;

  }

  .programma .ask {
    font-size: 2.5rem;

  }

}